.container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
}
table {
  width: 100%;
}
.title-center {
  flex: 1 1 auto;
  text-align: right;
}
