/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-image: url(../src/assets/pizza-background.jpg);
  }
  .white {
    background: white;
  }
  mat-dialog-container {
    background-color: #f2edd0 !important;
  }
  .mat-dialog-content  {
    max-height: 75vh !important;
  }

  .mat-raised-button {
   color:#b09965 !important;
   font-size: 24px !important;
   height: 50px;
   width: 200px;
}
