<mat-toolbar><button (click)="logout()" mat-button><img src="../../../assets/icons8-logout-rounded-left-50.png"/></button><span class="title-center">Zaposleni: {{fullName}}</span></mat-toolbar>
<div  *ngIf = "user" class="container row">
  <div class="col-md-4">
    <mat-card routerLink="/new-order" >
      <img mat-card-image src="../../../assets/order.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h4 style="text-align: center;">Kreiranje porudžbine</h4>
    </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
  <mat-card routerLink="/list-orders" >
    <img mat-card-image src="../../../assets/orderr-review.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h4 style="text-align: center;">Pregled porudžbina</h4>
  </mat-card-content>
  </mat-card>
</div>
<div class="col-md-4">
  <mat-card routerLink="/review-offers" >
    <img mat-card-image src="../../../assets/offer-review.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h4 style="text-align: center;">Pregled ponuda</h4>
  </mat-card-content>
  </mat-card>
</div>
</div>

